body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
    border-radius: 10px;
    margin: 25px auto;
    padding: 35px;
}

.profile-card {
    text-align: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {

    font-size: 50px;
    color: white;
    margin-top: 20px;
}

.fatema {
    background-color: gray;
}

body {
    background-color: white;
}

.resume {
    background-color: white;
}

main {
    color: white;
    font-size: 20px;
}


h2 {

    font-size: 30px;
}

h3 {
    font-size: 28px;
    color: gray;
}

span {
    font-size: smaller;
}